h1, h2 {
  font-family: Alatsi, sans-serif;
  color: #000;
}

p, form, a, .btn, fieldset, legend {
  font-family: Lato, sans-serif;
}

.rescues {
  border-radius: 50%;
}

a:focus {
  background-color: #000;
  color: #fff;
  outline: #000;
}

a {
  color: #000;
  list-style-type: none;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

i {
  align-items: center;
}

nav .current {
  background-color: #000;
  color: #fff;
  border-radius: 15%;
}

nav .current:hover {
  background-color: #fff;
  color: #000;
  border-radius: 15%;
}

.logo {
  text-align: center;
  color: #000;
}

.nav {
  text-align: center;
  top: 5em;
}

a:hover {
  color: #fff;
}

header {
  background-color: #72cfec;
}

.btn {
  background-color: #72cfec;
  border-radius: 10px;
  border-color: #72cfec;
  color: #000;
}

.btn:hover {
  background-color: #000;
  border-color: #000;
  color: #fff;
}

.border {
  border-bottom: 2px solid rgba(226, 168, 132, .5);
}

fieldset {
  border: none;
}

.banner {
  top: 20em;
  color: #fff;
}

.banner-photo {
  top: 2em;
}

.bg {
  width: 100%;
}

footer {
  background-color: #72cfec;
  color: #000;
}

@media only screen and (min-width: 38em) {

  .title {
    padding-bottom: .25em;
  }

  .nav {
    padding-top: 0;
  }

  .action {
    top: 5em;
    left: 1em;
  }

  .banner-content {
    position: relative;
    border: none;
  }

  .banner {
    position: absolute;
    padding: .5em;
  }

  .quote {
    color: #fff;
  }

}

@media only screen and (min-width: 60em) {

  .nav {
    margin-bottom: 0;
    margin-top: 0;
  }

  .title {
    text-align: left;
    padding-left: 1em;
  }

  .action {
    top: 9em;
    left: 3em;
  }

}

@media only screen and (min-width: 90em) {

  a {
    margin-left: 2em;
  }

  .action {
    top: 14em;
    left: 8em;
  }

  .rescues {
    padding: 0;
  }

}
